doctype 5

html
  head
    title SessionSockets usage example
    //script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')

    style(type='text/css')
      body {
        padding: 30px 50px;
      }

      #t {
        display: block;
        margin-bottom: 15px;
        outline: none;
        width: 700px;
        height: 100px;
      }

      #foo {
        width: 200px;
      }

  body

    h1 subscribed to #{ tag }

